%br
%div.container
  %div.row
    %div.col.col-md-7.col-md-offset-1#content
      %div.row
        %div.col.col-md-8
          %a{:href => "/"}
            %strong= @title if defined?(@title)
          - if defined?(@page_title)
            - if !@page_title.empty?
              |
          %span.text-muted= @breadcrumb
          = @page_title if defined?(@page_title)
        %div.col.col-md-4
          %p.text-right
            %a.text-muted.small{:href => "/patricia/search"} Search pages >
      %hr
      = @html if defined?(@html)
      %hr
      - if defined?(@markup_url)
        %p.text-center
          %small
            %a.text-muted{:href => "#{@markup_url}"} Markup for this page
    %div.col.col-md-3.col-md-offset-1.well#p-sidebar
      %input.form-control#p-sidebar-search-box{:type => 'text', :placeholder => 'Search'}
      %p.text-right
        %a.btn.btn-link.btn-xs#p-sidebar-width-toggle{:href => ''} Widen sidebar
      %br
      - if defined?(@toc)
        %div#toc
          = @toc
